<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="ONE test run" parallel="classes" thread-count="3">
    <listeners>
        <listener class-name="Listeners.TestListeners"/>
    </listeners>
    <test name="login UAT">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="tests.UATLoginTest"/>
            <class name="tests.LoginTestForB2B"/>
            <class name="tests.GoogleSearchTest"/>
        </classes>
    </test>

</suite>